NEXT_PUBLIC_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTQ3M2VlNjIwYTdjODhmNjQwYzQ2ZDRiY2RkZTRkNyIsIm5iZiI6MTcwNDQ1ODQ5OS41ODYsInN1YiI6IjY1OTdmOTAzNjBjNTFkMWNkNDk3ODdlMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.S_BwGHJ_93S1FdzdO_uaZbe5GX8lfJrtI9CLOuOSqvg